<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Play Time!</title>
</head>
<body>
    <h2 style="margin: auto; text-align: center; width: 100%;">Welcome!</h2>
    <div style="display: inline-block;  margin: auto;">
        {% for num in range (0,x):%} 
        <div style="display: inline-block; background-color: {{color}};  width: 200px; height: 200px; margin: 20px; border: solid 2px black"></div>
        {% endfor %}
    </div>
</body>
</html>